* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
#page-head{

}
#preheader{
    background: #3fbbc0;
    height: 40px;
    display: flex;
    letter-spacing: 1px;
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 10px;

}
.icons{
    padding-right: 6px;
}
.date{
    position: absolute;
    left: 100px;
    top: 10px;
    color: white;
}
.date-info{
    
}
.contact{
    color: white;
    position: absolute;
    left: 1194px;
    top: 10px;
}
.contact-info{
    
}
#header{
    height: 123px;
    position: sticky;
    top: 0;

    
}
#div1{
    position: absolute;
    left: 114px;
    top: 60px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.img1{

}
.h11::after{
    content: '-clone';
    color: rebeccapurple;
}

#div2{

}
.ul1{
    position: absolute;
    left: 364px;
    top: 77px;
}

li{
    display: inline;
    margin-left: 64px;
}

.ul1-li{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #626262;
    text-transform: uppercase;
} 
#aptbtn{
    position: absolute;
    left: 1236px;
    top: 55px;
}
.aptbtn{
    text-decoration: none;
    font-size: 26px;
    display: inline-block;
    background: #3fbbc0;
    border-radius: 10px;
    height: 43px;
    width: 267px;
    text-align: center;
    padding-top: 12px;
    color: white;
}
.ul1-li:hover{
    color:#3fbbc0 ;
}
.active{
    color: #3fbbc0;
}
#main{

}
#slider{
    background: url('../images/background.jpg');
    height: 400px;
    background-color: #3fbbc0;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position:center;
}
.slider-box{
    position: relative;
    background: white;
    left: 411px;
    top: 137px;
    text-align: center;
    width: 785px;
    height: 189px;
    padding-top: 18px;
    border-top: 5px solid #3fbbc0;
}
.slider-box-head{
    font-size: 38px;
}
.slider-box-para{
    padding-top: 11px;
    padding-bottom: 11px;
    line-height: 30px;
}
.slider-more{
    background: #3fbbc0;
    display: inline-block;
    width: 165px;
    text-align: center;
    color: white;
    height: 36px;
    text-decoration: none;
    padding-top: 11px;
    border-radius: 5px;
}
#service{
    display: flex;
    background: #f9f5f5;
    height: 400px;
}
#service1{
    display: flex;
    background: #f9f5f5;
    height: 400px;
    padding-top: 136px;
}
.heartbeat{
    background: white;
    height: 334px;
    width: 473px;
    flex: 1;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px -1px green;
    transition-duration: 2s;
}
.heartbeat:hover{
    background: #1edcb5;
}
#icon1{
    position: relative;
    top: 20px;
    left: 21px;
    font-size: 51px;
    color: #3fbbc0
}
.bp{
    background: white;
    height: 334px;
    width: 473px;
    flex: 1;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px -1px green;
    transition-duration: 2s;
}
.bp:hover{
    background: #1edcb5;
}
.sugarlevel{
    background: white;
    height: 334px;
    width: 473px;
    flex: 1;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px -1px green;
    transition-duration: 2s;
}
.sugarlevel:hover{
    background: #1edcb5;
}
.dignosis{
    background: white;
    height: 334px;
    width: 473px;
    flex: 1;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px -1px green;
    transition-duration: 2s;
}
.dignosis:hover{
    background: #1edcb5;
}
.span1{
    position: relative;
    top: 44px;
    left: 15px;
    font-size: 30px;
    font-weight: bold;
}
.service-para{
    position: relative;
    top: 61px;
    left: 18px;
    text-align: left;
    padding-right: 36px;
    line-height: 2;
    word-spacing: 1.5px;
}
#emergency{
    background: #3fbbc0;
    height: 382px;
    text-align: center;
    color: white;
}
.emg-head{
    position: relative;
    top: 40px;
    font-size: 40px;
}
.emg-para{
    position: relative;
    top: 73px;
    margin-left: 130px;
    margin-right: 130px;
    letter-spacing: 1.5px;
    line-height: 3;
}
#icon2{
    position: relative;
    top: 121px;
    font-size: 38px;
    letter-spacing: 6px;
    border: 3px solid white;
    border-radius: 45px;
    width: 185px;
    height: 57px;
    text-align: center;
    padding-top: 18px;
    color: white;
}
#aboutus{
    background: #f9f5f5;
}

.abthead{
    text-align: center;
    position: relative;
    top: 21px;
}
.abtimg{
    position: relative;
    display: flex;
    background: white;
    height: 355px;
    top: 94px;
    padding-left: 0px;
    padding-right: 77px;
    margin-left: 62px;
    margin-right: 62px;
}
.abt-img{
    width: 472px;
}
.abtimg-dhead{
    padding-left: 24px;
    padding-top: 11px;
    font-size: 22px;
    padding-bottom: 18px;
}
.abtimg-dpara{
    padding-left: 38px;
}
.img-dul{
    padding-left: 103px;
}
.abt-img-data{
    line-height: 2;
}
#footer{
    height: 500px;
    background: rgb(217, 234, 241);
}
#foot-box1{
    display: flex;
    padding-top: 128px;
}
.foot-name{

}
.foot-para::after{
    content: '';
    display: block;
    background: black;
    position: relative;
    left: 129px;
    bottom: 12px;
    height: 2px;
    width: 110px;
}
.foot-box1-img1{
    width: 83px;
    height: 83;
    position: absolute;
    left: 44px;
    top: 2517px;
    box-shadow: 0px 0px 8px -3px green;
}
.foot-box1-img2{
    width: 83px;
    height: 83;
    position: absolute;
    left: 766px;
    top: 2517px;
    box-shadow: 0px 0px 8px -3px green;
}
.foot-h1{
    font-size: 33px;
    color: navy;
}
.foot-box1{
    background: white;
    height: 180px;
    margin-left: 85px;
    width: 626px;
    display: flex;
    box-shadow: 0px 0px 8px -3px black;
}
h3{
    margin-left: 78px;
    margin-top: 15px;
}
.foot-box1-p1{
    position: relative;
    top: 40px;
    right: 65px;
    font-size: 13px;
}
.foot-box1-p2{
    position: relative;
    top: 71px;
    text-align: justify;
    color: darkblue;
    right: 110px;
}
#foot-name{
    position: relative;
    top: 57px;
    left: 83px;
    line-height: 2;
    text-transform: uppercase;
}
